		html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-y: hidden;
}

 body {    animation: fadeInAnimation ease 2s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
            margin: 0px; 
            width: 100vw; 
            font-family: baskerville; 
            background-color: #ebeae1ff; 
        } 
	
	.dot {	
	  width: 2vw;
	  height: 2vw;
	  border-radius: 8vw;
  	 transition: .2s ease-in-out;
  	 -webkit-transition: .2s ease-in-out;
  	 cursor: pointer;
  	 z-index: 10000; 
	}
	.dot-01 {	
	  width: 2vw;
	  height: 2vw;
	  border-radius: 8vw;
  	 cursor: pointer;
	}
	.dot:hover {
	  transform: scale(1.4) !important; 
	  -webkit-transform: scale(1.4) !important; 
	}
	#dot-01{
		position: absolute;
		background-color: #00FF00; 
		top: 15.5vw; 
		left: 59.5vw; 
	}
	#dot-02{
		position: absolute;
		background-color: #FF00FF; 
		top: 22vw; 
		left: 72vw; 
		 transition: .2s ease-in-out;
		 -webkit-transition: .2s ease-in-out;
	}
	#dot-03{
		position: absolute;
		background-color: #00FFFF; 
		top: 37vw; 
		left: 28vw; 
	}
	#dot-01-01{
		background-color: #00FF00; 
		display: block;
		float: left;		
	}
	#dot-02-01{
		display: block;
		float: left;
		background-color: #FF00FF; 	
	}
	#dot-03-01{
		background-color: #00FFFF;
		display: block;
		float: left; 		
	}
	#key{
		position: absolute;
		top: 75vh; 
		left: 82vw; 
		width: 18vw; 
		height: 30vw; 
	}
	.key{
		height: 3vw; 
		margin-left: .5vw; 
		display: block;
		float: left;
	}
	#m{
		margin-right: 2vw;
	}
	#key .line{
		width: 100%; 
		margin-bottom: 1.5vh; 
		cursor: pointer;
	}
	.line{
		transition: .2s ease-in-out;
		-webkit-transition: .2s ease-in-out;
	}
	.line:hover{
		opacity: 0.5; 
	}
	#about{
		position: absolute;
		width: 6vw; 
		top: 3vh; 
		left: 92vw; 
		transition: .2s ease-in-out;
		-webkit-transition: .2s ease-in-out;
		cursor: pointer;
	}
	#about:hover{
		opacity: 0.5; 
	}
	.italic{
		font-style: italic;
	}
	#by-line{
		position: absolute;
    width: 22vw;
    top: 30vw;
    left: 38vw;
	}

	 	 body { 
         
        } 
        @keyframes fadeInAnimation { 
            0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
        } 

  @font-face {
  font-family: baskerville;
  src: url("../fonts/cooperl.ttf");
}


/*desktop styles*/
@media screen and (min-width: 768px) {
	a{
		text-decoration: none; 
		color: black; 
		border-bottom: .08vw solid black;
		transition: .2s ease-in-out;
	}
	a:hover{
		opacity: 0.5; 
	}

	#map{
		position: absolute;
		width: 75vw; 
		margin-left: 10.5vw; 
	}
	#logo{
		position: absolute;
		width: 50vw; 
		left: 25vw; 
		top: 18vw; 
	}
	#title{ 
		    position: relative;
    margin-left: 29vw;
    margin-top: 8vh;
    margin-bottom: -5vh;
    width: 45vw;
    z-index: -1 !important; 
	 }
	 #wv-image-01{
	 	width: 90%; 
	 	margin-left: 5%; 
	 }
	 .row{
	 	width: 100vw;
	 	height: 80vh; 
	 }
	  .row-end{
	 	width: 100vw;
	 	height: 30vh; 
	 }
	 .row-end p{
	 	margin-top: 25vh; 
	 	font-size: 1.5vw; 
	 }
	 .block-01{
	 	display: block;
	 	float: left;
	 	width: 60vw; 
	 }
	  .block-02{
	 	display: block;
	 	float: left;
	 	width: 40vw; 
	 	text-align: center; 
	 }
	 #close{
	 	width: 3vw; 
	 	position: fixed;
	 	left: 95vw; 
	 	top: 5vh; 
	 	transition: .2s ease-in-out;
	 }
	 #close:hover{
		opacity: 0.5; 

	 }
	 h1{
	 	text-align: center;
	 	/*font-family: georgia; */
	 }
	 #wv-title-01{
	 	width: 80%; 
	 	margin-top: 25vh; 
	 }
	  #wv-title-02{
	 	width: 65%; 
	 	margin-top: 25vh; 
	 }
	 .play-button01  {
	 	cursor: pointer;
	 }
	 .play01{
	 	width: 3vw; 
	 	height: 3vw;    
	 	content:url("../images/play.svg");
	 	transition: .2s ease-in-out;
	}
	.pause01{
		width: 3vw; 
	 	height: 3vw;   
	    content:url("../images/pause.svg");
	    transition: .2s ease-in-out;
	}
	.play01:hover{
		transform: scale(1.1) !important; 
	}
	.pause01:hover{
		transform: scale(1.1) !important; 
	}
	.play-button02  {
	 	cursor: pointer;
	 }
	.play02{
	 	width: 3vw; 
	 	height: 3vw;    
	 	content:url("images/play.svg");
	 	transition: .2s ease-in-out;
	}
	.pause02{
		width: 3vw; 
	 	height: 3vw;   
	 	display: none; 
	    content:url("images/pause.svg");
	    transition: .2s ease-in-out;
	}
	.play02:hover{
		transform: scale(1.1) !important; 
	}
	p{	text-align: center; 
		/*font-family: georgia; */
		/*color: grey; */
		font-weight: 800;
	}
	#dot-01{
		position: absolute;   
    	/*top: 10vw;
    	left: 13vw;*/
	}
	#dot-02{
		position: absolute;
    	/*margin-left: 38vw;
    	margin-top: 22vw; */

	}
	#dot-03{
		position: absolute;
    	/*margin-left: 45vw;
    	margin-top: 30vw; */
	}
	.dot {	
		background-color: #FF00FF;
	  width: 2.5vw;
	  height: 2.5vw;
	  border-radius: 8vw;
  	 transition: .2s ease-in-out;
  	 cursor: pointer;
  	 z-index: 10000; 
	}
	#state{
		width: 100%; 
		margin-bottom: 15vh; 
	}
	#state img{
		width: 65%; 
		margin-left: 30%; 

	}
	#copyright{
		font-size: 10px; 
	}
	#audioplayer{
	width: 100vw;
	/*height: 60px;*/
/* 	margin: 50px auto auto auto; */
/*   border: solid; */
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}
#timeline{
    position:fixed; 
	width: 0vw;
	height: 20px;
/* 	margin-top: 20px; */
/* 	float: left; */
/* 	border-radius: 15px; */
	background: rgba(0,0,0,.3);
  
}
.timeline01 {
    position: fixed;
    background-color: #FF00FF;
    left: 0px;
    top: 99vh;
   width: 0px;
     max-width: 100vw; 
    /*width: 0px;*/
     max-width: 100vw; 
    height: 1vh;
    /*display: none; */
    
  }
  .timeline02 {
    position: fixed;
    background-color: #FF00FF;
    left: 0px;
    top: 99vh;
    width: 0px;
     max-width: 100vw; 
    height: 1vh;
    display: none;
    
  }
  .stop{
  	display: none; 
  }
  .block{

  }
  .pause01{
  	display: none; 
  }
  #blurb-01{
  	width: 45vw;
    text-align: center;
    margin-left: 30vw;
    margin-bottom: 12vh;
    font-size: 1.3vw;
    line-height: 1.8vw;
    hyphens: auto;
    margin-top: 2vh;
  }
  #blurb-01 p img{
  	width: 5%; 

  }
  #blurb-02{
  	    width: 35vw;
    text-align: center;
    hyphens: auto; 
    margin-top: 10vh; 
    margin-left: 10vw;
    margin-bottom: -15vh;
    font-size: 1.3vw;
    line-height: 1.8vw; 
  }
  #words-01{
  	width: 20vw; 

  }
    #words-02{
  	width: 12vw; 

  }
    #lyrics01, #lyrics02
	{
	height: 6vh;
	
     font-size: 1.3vw;
    line-height: 1.8vw; 

	}

}
  /*mobile styles*/

@media screen and (max-width: 769px) {
	a{
		text-decoration: none; 
		color: black; 
		border-bottom: .8px solid black;
		transition: .2s ease-in-out;
	}
	a:hover{
		opacity: 0.5; 
	}

	#title{ 
		    position: relative;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 0vh;
    width: 90vw;
    z-index: -1 !important; 
	 }
	  #blurb-01{
  	width: 90vw;
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-size: 14px;
    line-height: 21px;
    hyphens: auto; 
  }
   .row{
	 	width: 100vw;
	 	height: 65vh; 
	 }
	  .row-end{
	 	width: 100vw;
	 	height: 30vh; 
	 }
	 .row-end p{
	 	margin-top: 25vh; 
	 	font-size: 1.5vw; 
	 }
	 .block-01{
	 	display: block;
	 	float: left;
	 	width: 90vw;
		margin-bottom: -5vh;

	 }
	  .block-02{
	 	display: block;
	 	float: left;
	 	width: 90vw; 
	 	text-align: center; 
	 	margin-bottom: 5vh; 
	 }
	 #close{
	 	width: 8vw; 
	 	position: fixed;
	 	left: 88vw; 
	 	top: 5vh; 
	 	transition: .2s ease-in-out;
	 }
	 #wv-image-01{
	 	width: 100%; 
	 	margin-left: 0%;
	 	margin-bottom: 10vh; 
	 }
	 #wv-title-01{
	 	width: 90%;
	 	margin-left: 10%;  
	 	margin-top: 5vh; 
	 }
	    #wv-title-02{
	 	width: 90%;
	 	margin-left: 10%;  
	 	margin-top: 5vh; 

	 }
	 #state{
		width: 100%; 
		margin-bottom: 15vh; 
	}
	#state img{
		width: 100%; 
		margin-left: 0%; 

	}
	 .block-02 p{
	 	width: 100%; 
	 	margin-left: 5%; 
	 }
	 .play-button01  {
	 	cursor: pointer;
	 }
	 .play01, .play02{
	 	width: 12vw; 
	 	height: 12vw;    
	 	
	 	content:url("../images/play.svg");
	 	transition: .2s ease-in-out;
	}
	.pause01{
		width: 12vw; 
	 	height: 12vw;   
	    content:url("../images/pause.svg");
	    transition: .2s ease-in-out;
	    display: none; 
	}
	.play01:hover{
		transform: scale(1.1) !important; 
	}
	.pause01:hover{
		transform: scale(1.1) !important; 
	}
	.play-button02  {
	 	cursor: pointer;
	 }
	
	/* .play02{
	 	width: 12vw; 
	 	height: 12vw;    
	 	
	 	content:url("images/play.svg");
	 	transition: .2s ease-in-out;
	}*/
	.pause02{
		width: 12vw; 
	 	height: 12vw;   
	    content:url("../images/pause.svg");
	    transition: .2s ease-in-out;
	    display: none; 
	}
	.play02:hover{
		transform: scale(1.1) !important; 
	}
	
	#pbutton01, #pbutton02{
		margin-left: 10%;
	}
	p{	text-align: center; 
		/*font-family: georgia; */
		/*color: grey; */
	}
	
	.audio-buttons{
		width: 100%; 
	}
	 #blurb-02{
  	    width: 90vw;
	    text-align: center;
	    hyphens: auto; 
	    margin-top: 5vh; 
	    margin-left: 5vw;
	    margin-bottom: 8vh; 
	    font-size: 14px;
    line-height: 21px;
  }
   #words-01{
  	width: 8vw; 

  }
   #words-02{
  	width: 8vw; 

  }
   .row-end{
	 	width: 90%;
	 	margin-left: 5%; 
	 	height: 20vh; 
	 }
	 .row-end p{
	 	margin-top: 10vh; 
	 	font-size: 21px;
	 	line-height: 30px; 
	 }
	 .dot {	
	  background-color: #FF00FF;
	  width: 10vw;
	  height: 10vw;
	  border-radius: 8vw;
  	 transition: .2s ease-in-out;
  	 cursor: pointer;
  	 z-index: 10000; 
  	 display: none; 
	}
	 #dot-01 {
    position: absolute;
    background-color: #FF00FF;
    top: 10vw;
    left: 13vw;
}
	#dot-02{
		position: absolute;
    	margin-left: 11vw;
    	margin-top: 31vw; 

	}
	#dot-03{
		position: absolute;
    	margin-left: 24vw;
    	margin-top: 46vw; 
	}
#lyrics01, #lyrics02
	{
	height: 6vh;
	width: 100%;
    margin-left: 5%;
      font-size: 14px;
    line-height: 21px;
   
	}
	#timeline{
    position:fixed; 
	width: 0vw;
	height: 40px;
/* 	margin-top: 20px; */
/* 	float: left; */
/* 	border-radius: 15px; */
	background: rgba(0,0,0,.3);
  
}
.timeline01,  .timeline02  {
    position: fixed;
    background-color: #FF00FF;
    left: 0px;
    top: 99vh;
   width: 0px;
     max-width: 100vw; 
    /*width: 0px;*/
     max-width: 100vw; 
    height: 5vh;
    /*display: none; */
    
  }

  #map{    position: absolute;
    width: 99vw;
    margin-left: 0vw;
    /*margin-top: 10vh;*/
}
	#logo{
		    position: absolute;
    width: 70vw;
    left: 12vw;
    top: 18vw;
	}
	#by-line{
	 position: absolute;
    width: 50vw;
    top: 35vw;
    left: 20vw;
}
#about{
	    position: absolute;
    width: 34vw;
        top: 70vh;
    left: 29vw;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    cursor: pointer;
	
}
.key {
        height: 17vw;
    margin-left: 0vw;
    margin-left: 5vw;
    display: block;
    float: left;
}
#key {
    position: absolute;
    top: 37vh;
    left: 10vw;
    width: 85vw;
    height: 80vw;
}
#key .line {
    width: 100%;
    margin-bottom: 2.5vh;

    cursor: pointer;
}

#key .dot-01 {
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    cursor: pointer;
    margin-top: 2vh;
}

}